{% extends "base.html" %}

{% block titre %}Accueil{% endblock %}

{% block corps %}
<div class="col-sm-3"></div>
<div class="container distance col-sm-6">
    <p><img src="{{ url_for('static', filename='images/UBbot.jpg') }}" style="width: 200px; height: 130px;"></p>

    <p> <span class="contenu"> Bonjour, je suis <b>UBbot_Assist</b>.&nbsp; </span> </p>

    <p>
        <span class="contenu">Un <b>chatbot</b> conçu pour et par des étudiants pour offrir plus (d’avantages) 
            d’assistance virtuel au sein de l’<b>Université
            de Bordeaux</b>.
        </span>
    </p>

    <p>
        <span class="contenu">
            Pour démmarer il faut:
            <ul class="contenu1">
                <li>Cliquer sur le bouton qui est tout en bas à droite de la page;</li>
                <li>Une boite de dialogue s'ouvre après le clique sur le bouton;</li>
                <li>Et juste après, vous pouvez dialoguer avec le bot qui vous proposera des solutions selon votre demande.</li>
            </ul>
        </span>
    </p>
</div>
<div class="col-sm-3"></div>
{% endblock %}