{% extends 'base.html' %}

{% block titre %}A propos{% endblock %}

{% block corps %}
<div class="container distance">
    <h1 class="contenuConv">IDentité NUMérique IDNUM UB</h1>
    
    <h3 class="contenu">IDentité NUMérique UB : quelques notions</h3>
    <p>
        L’identité numérique permet d'accéder aux services numériques et aux applications métiers de l’Université de
        Bordeaux de façon sécurisée.
        Chaque individu, usager du Système d'Information de l'Université dispose de sa propre identité numérique IDNUM.
        Le dispositif IDdentité NUMérique IDNUM UB est ouvert à tous ceux qui souhaitent bénéficier des services
        numériques institutionnels, mais aussi à ceux qui développent des services numériques spécifiques à leur domaine et qui envisagent de s’appuyer sur IDNUM pour
        identifier leurs utilisateurs.
        Les services numériques institutionnels couvrent des domaines multiples, comme la messagerie électronique,
        l’Espace Numérique de Travail, le réseau wifi le contrôle d’accès de certains bâtiments, l'accès aux ressources documentaires, l'accès à des données
        consultables en accès protégé ...
    </p>

    <h3 class="contenu">Identifiant, authentification et ENT</h3>
    <p>
        Pour accéder aux services numériques, et en particulier à l'Espace Numérique de Travail (ENT), chaque étudiant
        et personnel de l'Université dispose d'une une IDentité NUMérique Université de Bordeaux.

        Une IDNUM UB est composée à minima d'un :
        <ul>
            <li>identifiant de connexion</li>
            <li>mot de passe personnel</li>
        </ul>
        L'identifiant est généré automatiquement depuis les prénom et nom de l'utilisateur enregistrés dans les sources
        de données de références RH ou de Scolarité de l'Université.
        Le mot de passe personnel est géré par le bénéficiaire d'une IDNUM lui-même. Ce mot de passe personnel est créé
        à l'issue d'une procédure d'activation IDNUM. Ce mot de passe personnel peut ensuite être modifié par le bénéficiaire d'une IDNUM depuis l'ENT > MON IDNUM.
    </p>
    
    <h3 class="contenu">Activation IDNUM</h3>
    <p>
        <ul>
            <li>
                our procéder à l'activation de son IDNUM des données sont nécessaires.
                cas des personnels gérés et rémunérés par l'Université de Bordeaux : vous avez besoin de votre
                identifiant et du code GRHUM qui figurent sur un document appelé "passeport IDNUM".
            </li>
            <li>
                cas des étudiants de l'Université de Bordeaux : vous avez besoin, de votre code étudiant et de votre INE
                qui figurent sur le certificat de scolarité.
            </li>
            <li>
                cas des étudiants IPB habilités : vous serez redirigé vers le serveur central d'authentification de l'IPB.
            </li>
            <li>
                cas de tous les autres personnels, désignés partenaires de l'Université de Bordeaux : vous avez besoin
                de votre identifiant et d'un code d'activation qui figurent sur un document appelé "passeport IDNUM".
            </li>
        </ul>
    </p>
</div>

{% endblock %}