@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background-color: #ffffff;
    font-family: Lato;
}

h1 {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.entete {
    background-color: #98a7e4;
}

.distance {
    padding-top: 40px;
}

.contenu {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.contenu1 {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

.contenuConv {
    font-family: fantasy;
}

.couleur_texte {
    color: black;
}